<div class="container">
  <h2 class="text-center">Changement mot de passe</h2>
  <div class="col-lg-5 col-md-7 offset-lg-4 offset-md-3">
    <form [formGroup]="resetPasswordForm" class="p-5 border bg-light needs-validation rounded" >
       <div class="form-group mb-2" [class.error]="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required', 'password')">
          <input type="password" class="form-control" placeholder="New password" formControlName="password">
      </div>
      <small *ngIf="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required', 'password')" 
            class="text-danger ">*Password est requis</small>

      <div class="form-group mb-é mt-4" [class.error]="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required', 'confirmPassword')">
          <input type="password" placeholder="Corfirm password" class="form-control" formControlName="confirmPassword">
      </div> 
      <small *ngIf="resetPasswordForm.hasError('confirmPasswordValidator', 'confirmPassword')" 
            class="text-danger ">*Password ne correspond pas*</small> 

      <div class=" d-flex justify-content-center mt-2 mb-2">     
        <button (click)="onReset()" type="submit" class="btn btn-primary btn-lg btn-block rounded-pill" >Valider </button>       
      </div>    
  </form>

  </div>
    
</div>
