<div class="container-fluid text-center">
    <div class="col-lg-5 col-md-7 offset-lg-4 offset-md-3">
      <h2 class="text-center">Changement mot de passe</h2>
      <form [formGroup]="resetPasswordForm" class="p-5 border bg-light needs-validation rounded" >
         <div class="form-group form-floating mb-2" [class.error]="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required', 'password')">
            <input type="password" id="passeword" class="form-control" placeholder="New password" formControlName="password">
            <label for="passeword">Nouveau mot de passe</label>
          </div>
        <small *ngIf="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required', 'password')" 
              class="text-danger ">*Champ obligatoire</small>
  
        <div class="form-group form-floating mt-4" [class.error]="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required', 'confirmPassword')">
            <input type="password" placeholder="Corfirm password" class="form-control" formControlName="confirmPassword">
            <label for="passeword">Confirmez votre nouveau mot de passe</label>
          </div> 
        <small *ngIf="resetPasswordForm.hasError('confirmPasswordValidator', 'confirmPassword')" 
              class="text-danger ">*Le mot de passe ne correspond pas*</small> 
  
        <div class=" d-flex justify-content-center">     
          <button (click)="onReset()" type="submit" class="btn btn-primary mt-3 btn-block rounded-pill" >Valider </button>       
        </div>    
    </form>
    </div>   
  </div>
  
