.row {
   
}
p {
    margin: 15px;
    height: 100px;
    overflow: hidden;
    font-size: 16px;
    padding: 5px 15px;
    
 }
 
 h4 {
     height: 75px;
     margin-top: 10px;
     overflow: hidden;
     font-size: 18px;
     padding: 5px 15px;
     background-color: rgb(227, 233, 145);
     font-weight: 600; 
     border: 1px  solid;
 }
 

 h4:hover {
     transform: scale(1.1);
 }
 
 span {
     background-color: rgb(230, 245, 24);
     padding: 3px 7px;
     border-radius: 30px;
 }
 