
<div  class="card mb-4 box-shadow">
    <div class="row">
        <div class="col-md-3 col-sm12"> 
            <div class="item">
                <div class="body">
                    <h4>Some title</h4>
                    <p>Le Lorem Ipsum est simplement
                        du faux texte employé dans la</p>
                </div>
                <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
                    <button class="btn btn-primary">Add to cart</button>
                    <span>50€</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-2 w-25">
    
        <select class="form-select" aria-label="Default select example">
            <option selected>Categories</option>
            <option value="1">1 option</option>
            <option value="2">2 option</option>
            <option value="3">3 option</option>
            <option value="1">4 option</option>
            <option value="2">5 option</option>
            <option value="3">6 option</option>
          </select>
   
</div>
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="\assets\images\ps43.jpg" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">Le Lorem Ipsum est simplement du faux texte employé dans la</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button routerLink="/orders/list" type="button" class="btn btn-sm btn-outline-secondary">voir</button>
                  <button routerLink="/orders/add" type="button" class="btn btn-sm btn-outline-secondary">ajout</button>
                </div>
                <small class="text-muted">50€</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;
            fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="\assets\images\mv_cd.jpg "
             data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text">Le Lorem Ipsum est simplement du faux texte employé dans la</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">ajout</button>
                </div>
                <small class="text-muted">50€</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="\assets\images\mv_mario.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text">Le Lorem Ipsum est simplement du faux texte employé dans la</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">ajout</button>
                </div>
                <small class="text-muted">50€</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="\assets\images\mv_livre.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text">Le Lorem Ipsum est simplement du faux texte employé dans la</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">ajout</button>
                </div>
                <small class="text-muted">50€</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="\assets\images\mv_dvd.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text">Le Lorem Ipsum est simplement du faux texte employé dans la</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">ajout</button>
                </div>
                <small class="text-muted">50€</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;
            fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" 
            src="\assets\images\ps44.jpg" data-holder-rendered="true" 
            style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text">Le Lorem Ipsum est simplement du faux texte employé dans laThis content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">ajout</button>
                </div>
                <small class="text-muted">50€</small>
              </div>
            </div>
          </div>
        </div>
