<ng-container *ngIf="product$ | async as product">

	<div class="container card mb-4 box-shadow mt-2 ">
		<div class="row">
			<div class="col-6">
				<div id="carouselIndicators" class="carousel slide">
					<div class="carousel-inner">
					  <div class="carousel-item active">
						<img [src]="product.imageUrl" class="d-block w-100"  alt="{{ product.name }}">
					  </div>
					  <div class="carousel-item">
						<img [src]="product.imageUrl" class="d-block w-100"  alt="{{ product.name }}">
					  </div>
					  <div class="carousel-item">
						<img [src]="product.imageUrl" class="d-block w-100"  alt="{{ product.name }}">
					  </div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
					  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					  <span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
					  <span class="carousel-control-next-icon" aria-hidden="true"></span>
					  <span class="visually-hidden">Next</span>
					</button>
				  </div>
			</div>
	
		  <!--============description of product=======================-->
			<div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
				<div>
				<h2 class="name">{{product.name}}</h2>
				<small>Product by <a [routerLink]="['/', 'catalogue']">Nozama</a></small>
				</div>    
        <!--===============rating==============-->   
				<div class="certified">
          <ngb-rating  [max]="5" [rate]="finalRating" [readonly]="true" [resettable]="false"  >
            
          </ngb-rating>
				  <span class="fa-2x"><h6> {{finalRating}}</h6></span>
				  <a href="#"> {{ratingCount}} votes des clients</a>
				</div>  
        <div class="remark">
          <strong>Evaluation: </strong>
          <div class="row">
            <div class="col-sm-12">
                <ngb-rating  [max]="5" (click)="getRating()" [formControl]="ratingControl">
                  
                </ngb-rating>
            </div>
          </div>
          
        </div> 					
				
				<hr />
				<h3 class="price-container">{{product.price}}<span> €</span><small> *includes tva</small></h3>
				<br>
				<div class="description description-tabs">
					<div id="myTab" class="nav nav-pills">
						<div class="list-nav"><button (click)="scrollTo()" [routerLink]="['./']" fragment="description"  class="btn btn-outline-primary ">Description </button>             
              <ng-container *ngIf="affiche">
                <p>
                  <strong>Description </strong> : {{product.description}}
                </p>
              </ng-container>
            </div>
						<div class="list-nav"><button (click)="toggle()" [routerLink]="['./']" fragment="specifications"  class="btn btn-outline-primary">References</button>
              <ng-container *ngIf="show">
                <p>
                  <strong>References </strong> : {{product.reference}}
                </p>
              </ng-container>
            </div>
						<div class="list-nav"><button (click)="drop()" [routerLink]="['./']" fragment="reviews"   class="btn btn-outline-primary">Commentaires</button>
              <ng-container *ngIf="display">
                <div>
                  <strong>Commentaires </strong> : 
                  <form method="post" class="well padding-bottom-10" (ngSubmit)="onSubmit()">
					<div class=" form-group mb-3 form-floating">
						<input type="text" id="name" name="firstname" class="form-control" [(ngModel)]="name" required>
						<label for="name" class="form-label">Votre nom</label>
					</div>
					<div class=" form-group mb-3 form-floating">
						<input type="text" id="summary" name="summary" class="form-control" [(ngModel)]="summary" required>
						<label for="summary" class="form-label">Summary</label>
					</div>
					<div class="mb-3 form-floating">
						<textarea id="message" name="message" class="form-control" [(ngModel)]="comment" required></textarea>
						<label for="message" class="form-label">Commentaire</label>
					</div>
                      <button type="submit" class="btn btn-sm btn-primary pull-right">Envoyer commentaires</button>                         
                  </form>
                </div>
              </ng-container>
            </div>
					</div>
				</div>
        
				<br>
				<br>
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6">
						<button  class="btn btn-primary btn-lg" type="button"  (click)="addToCart(product)">Ajouter au panier</button>
					</div>
				</div>
			</div>
		</div> 
	</div>
</ng-container>
