<div class="containar"> 
    <h2 class="text-center">Créer un compte</h2>
    <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
      <form [formGroup]="signUpForm" class="p-5 border bg-light needs-validation rounded" novalidate>
        <div class="form-group mb-2" [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'lastName')">
          <input type="text" class="form-control" placeholder="Nom" formControlName="lastName">
        </div>
        <small *ngIf="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required', 'lastName')" class="text-danger ">*Nom est requis</small>

        <div class="form-group mt-4" [class.error]="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required', 'firstName')">         
          <input type="text" class="form-control" placeholder="Prénom" formControlName="firstName" >        
        </div>
        <small *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required', 'firstName')" class="text-danger ">*Prénom est requis</small>

        <div class="form-group mt-4" [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')">                                 
            <input type="email" class="form-control" placeholder="Email"  aria-describedby="email" formControlName="email">            
        </div>
        <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')" class="text-danger ">*Email est requis</small>

        <div class="form-group mt-4" [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')">            
            <input type="password" class="form-control" placeholder="Password" formControlName="password" >            
        </div>
        <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')" class="text-danger ">*Password est requis</small>

        <div class="form-group mt-4" [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')">            
            <input type="password" class="form-control" placeholder="Confirmer password" formControlName="password">            
        </div>
        <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')" class="text-danger ">*Password est obligé</small>

        <div class=" d-flex justify-content-center mt-2">      
          <button (click)="onSignUp()" type="submit" class="btn btn-primary btn-lg btn-block rounded-pill" >Valider </button>          
        </div>   
        <div class="form-group form-check">
          <label class="form-check-label text-center pt-4 pe-3 ps-5" for="">Vous avez déjà un account <a  id="forget" [routerLink]="['/', 'sign-in']"> Connexion</a></label>
        </div>  
      </form>
    </div>
    
</div>
