<div class="filte-container mb-3">
    <span class="me-2">Filtres :</span>

    <input type="radio" name="filter" value="All" 
                        [(ngModel)]="selectedRadioValue"
                        (change)="onRadioSelection()">
    <span class="me-4 ms-1">Tous</span>

    <input type="radio" name="filter" value="Jeux Vidéos" 
                        [(ngModel)]="selectedRadioValue"
                        (change)="onRadioSelection()">
    <span class="me-4 ms-1">Jeux videos</span>

    <input type="radio" name="filter" value="DVD" 
                        [(ngModel)]="selectedRadioValue"
                        (change)="onRadioSelection()">
    <span class="me-4 ms-1">DVD</span>

    <input type="radio" name="filter" value="CD" 
                        [(ngModel)]="selectedRadioValue"
                        (change)="onRadioSelection()">
    <span class="me-4 ms-1">CD</span>

    <input type="radio" name="filter" value="Livres" 
                        [(ngModel)]="selectedRadioValue"
                        (change)="onRadioSelection()">
    <span class="me-4 ms-1">Livres</span>
</div>

