header {
   
    background-color: var(--app-primary);
    color: var(--app-light);

}

.bg-lou {
    background-color: var(--app-lou);
}
.text-sylvain{
    color: white ;
}
.text-sylvain:hover {
    color: #a3d3f0;
 }

main{
    background-color: var(--app-darklight2);
    height: calc(100vh - 18rem);
}


footer{
    
    background-color: var(--app-primary);
    color: var(--app-light);
}