<div class="mt-2 container-fluid">
    <h2 class="text-center">Liste des commandes</h2>

    <div class="mb-2">
        <button class="btn btn-primary" [routerLink]="['/', 'orders', 'add']">
            Ajouter une commande
        </button>
    </div>

    <ng-container *ngIf = "orders$ | async as orders; else loading">

        <table class="table  table-hover table-bordered text-center" 
                *ngIf ="orders.length > 0; else noData">
            <thead>
                <tr>
                    <th scope="col">Id de l'utilisateur</th>
                    <th scope="col">Statut de la commande</th>
                    <th scope="col">Date</th>
                    <th scope="col">Prix total</th>
                    <th scope="col">Modifier/Supprimer</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let order of orders">
                    <th scope="row">{{order.idUser}}</th>
                    <td>{{order.status}}</td>
                    <td>{{order.date}} </td>
                    <td>{{order.price}} €</td>                 
                    <td>
                        <button class="btn btn-primary me-2"
                                [routerLink]="['/', 'orders', 'edit', order.id]"> 
                            <app-icon-edit></app-icon-edit>                    
                        </button>
                        <button class="btn btn-danger"
                        (click)="remove(order)">
                        <app-icon-delete></app-icon-delete>                    
                        </button>
                    </td>
                </tr>            
            </tbody>
        </table> 
    </ng-container>    
</div>

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="\assets\images\ps43.jpg" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">Le Lorem Ipsum est simplement du faux texte employé dans la</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button routerLink="/orders/list" type="button" class="btn btn-sm btn-outline-secondary">voir</button>
                  <button routerLink="/orders/add" type="button" class="btn btn-sm btn-outline-secondary">ajout</button>
                </div>
                <small class="text-muted">50€</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;
            fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="\assets\images\ps5.jpg "
             data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text">Le Lorem Ipsum est simplement du faux texte employé dans la</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">ajout</button>
                </div>
                <small class="text-muted">50€</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="\assets\images\ps44.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text">Le Lorem Ipsum est simplement du faux texte employé dans la</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">ajout</button>
                </div>
                <small class="text-muted">50€</small>
              </div>
            </div>
          </div>
        </div>
<ng-template #noData>
    <div class="alert alert-danger" role="alert">
        <p>Aucune order disponible!</p>
    </div>
</ng-template>  
<ng-template #loading>
    <div class="alert alert-info" role="alert">
        <p class="">Chargement des données ... </p>
    </div>
</ng-template>
