<div class="mt-2 container-fluid">

    <div class="mb-2">
        <button class="btn btn-primary" [routerLink]="['/', 'orders', 'add']">
            Ajouter un order
        </button>
    </div>

    <ng-container *ngIf = "orders$ | async as orders; else loading">

        <table class="table table-striped table-hover" 
                *ngIf ="orders.length > 0; else noData">
            <thead>
                <tr>
                    <th scope="col">Id of User</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Active</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let order of orders">
                    <th scope="row">{{order.idUser}}</th>
                    <td>{{order.status}}</td>
                    <td>{{order.date}} </td>
                    <td>{{order.price}} €</td>                 
                    <td>
                        <button class="btn btn-primary me-2"
                                [routerLink]="['/', 'orders', 'edit', order.id]"> 
                            <app-icon-edit></app-icon-edit>                    
                        </button>
                        <button class="btn btn-outline-danger"
                        (click)="remove(order)">
                        <app-icon-delete></app-icon-delete>                    
                        </button>
                    </td>
                </tr>            
            </tbody>
        </table> 
    </ng-container>    
</div>
<ng-template #noData>
    <div class="alert alert-danger" role="alert">
        <p>Aucune order disponible!</p>
    </div>
</ng-template>  
<ng-template #loading>
    <div class="alert alert-danger" role="alert">
        <p class="">Chargement des données ... </p>
    </div>
</ng-template>