<form  class="d-flex gap-1 flex-column" [formGroup]="form" (ngSubmit)="submit()">
 
    <input class="form-control" type="text" formControlName="firstname"
         placeholder="Prénom" aria-label="input firstname">

    <input class="form-control" type="text" formControlName="name"
    placeholder="Nom" aria-label="input name">

    <input class="form-control" type="number" formControlName="mobile"
        placeholder="Numéro de téléphone" aria-label="input mobile">

    <input class="form-control" type="text" formControlName="pays"
          placeholder="Pays" aria-label="input pays">

    <input class="form-control" type="text" formControlName="adress"
            placeholder="Adresse" aria-label="input adress">

    <input class="form-control" type="number" formControlName="adress-code"
    placeholder="Code postal" aria-label="input adress-code">

    <input class="form-control" type="text" formControlName="town"
            placeholder="Ville" aria-label="input town">


    <div class="d-flex flex-row gap-1 justify-content-end">
    <button type="button" class="btn btn-secondary"
            (click)="cancelAction()">
      Annuler
    </button>
    <button class="btn btn-primary"
            [disabled]="isDisable()">
      {{titleButton}}
      
    </button>
  </div>
    
</form>
