<div class="container-fluid"> 
  <div class="col-lg-5 col-md-7 offset-lg-4 offset-md-3">
    <h2 class="text-center">S'identifier</h2>
    <form [formGroup]="loginForm" class="p-5 border bg-light needs-validation rounded" >        
      <div class="form-group mb-2 form-floating" [class.error]="loginForm.controls['email'].dirty && loginForm.hasError('required', 'email')">                    
          <input type="email" class="form-control" id="email" placeholder="Email"  aria-describedby="emailHelp" formControlName="email">
          <label for="email">Email</label>
      </div>
      <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required', 'email')" class="text-danger ">*Champ obligatoire</small>
      <div class="form-group mb-2 mt-4 form-floating" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">          
          <input type="password" id="password" class="form-control" placeholder="Password" formControlName="password"> 
          <label for="password">Mot de passe</label>
      </div>
      <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')" class="text-danger ">*Champ obligatoire</small>
      <div class="form-inline fr my-4">
        <a id="forget" class="font-weight-bold " [routerLink]="['/', 'forgot-password']">Mot de passe oublié ?</a>
      </div>
      <div class=" d-flex justify-content-center mt-2 mb-2 ">      
        <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-lg btn-block rounded-pill" >Valider </button>          
      </div>
      <div class="form-group form-check text-center">
          <label class="form-check-label pt-3" for="">Vous n'avez pas de compte ? <a  id="forget" [routerLink]="['/', 'sign-up']">S'inscrire</a></label>
      </div>
  </form>
  </div>
</div>


  
  


